.jumbotron {
    background-image: url("assets/images/terry-tate-office-linebacker.jpg");
    color: white;
    height: 480px;
    width: 720;
    background-repeat: no-repeat;
    background-color: rgb(168, 78, 90);
    padding-top: 211px;
    padding-left: 100px;
}